<h5>Search Books</h5>
<div class="border rounded p-4 shadow">
	<form action="/books" method="GET">
		<div class="row align-items-center">
		  <div class="col-12 col-md-6 col-lg-3">
			  <div class="form-group">
				<label>Title:</label>
				<input type="text" class="form-control" name="title" value="<%= searchOptions.title %>">
			  </div>
		  </div>
		  <div class="col-12 col-md-6 col-lg-3">
			  <div class="form-group">
				 <label>Published After:</label>
			<input type="date" class="form-control" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
			  </div>
		  </div>
		  <div class="col-12 col-md-6 col-lg-3">
			  <div class="form-group">
				  <label>Published Before:</label>
			<input type="date" class="form-control" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
			  </div>
		  </div>
		  <div class="col-12 col-md-6 col-lg-3">
			<button class="btn btn-primary btn-block" type="submit">Search</button>
		  </div>
	  </div>
	</form>
</div>

<div>
  <% books.forEach(book => { %>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
  <% }) %>
</div>
