<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>MVC Boiler</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <%- include('../partials/errorMessage.ejs') %>
  <div class="container-fluid p-0 wrapper">
	  <div class="row no-gutters position-relative">
		  <div class="col-12 col-md-3 col-lg-3 col-xl-2 sidebar bg-secondary">
			  <div id="v-pills-tab" role="tablist" aria-orientation="vertical" class="nav flex-column nav-pills justify-space-between h-100">
				<a href="/authors" class="nav-link text-light">Authors</a> 
				<a href="/authors/new" class="nav-link text-light">Add Author</a> 
				<a href="/books" class="nav-link text-light">Books</a> 
				<a href="/books/new" class="nav-link text-light">Add Book</a> 
			  </div>
		  </div>
		  <div class="col-12 col-md-9 col-lg-9 col-xl-10 p-4 mr-md-0 ml-md-auto">
			<%- body %>
		  </div>
	  </div>
  </div>
</body>
</html>