@media (min-width: 992px) {
	.sidebar {
		position: absolute;
		top: 0;
		height: 100%;
		bottom: 0;
	}
}

html,
body,
.wrapper > .row,
.sidebar {
	height: 100%;
}
.wrapper {
	height: calc(100vh - 55.97px);
}
label {
    font-weight: bold;
    color: var(--secondary);
    font-size: 0.8rem;
    letter-spacing: 0.25px;
}
.nav-pills .nav-link {
	transition: 0.3s color, 0.3s background;
    text-shadow: 1px 1px 1px #2a343e;
    font-weight: 500;
    font-size: 0.9rem;
    padding: .66rem 1rem;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background: #5a7086;
	color: var(--white)!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.5rem;
}
.hover-shadow {
	transition: box-shadow 0.2s;
}
.hover-shadow:hover {
	     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
